/* Write your CSS here! */
div {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

p {color:rgb(0, 32, 128); font-size:24;}

body {
    margin: 8px;
    display: block;
  }



  h2 {
    background-color: lightskyblue;
  }

  h1 {
    background-color: plum;
  }

  .funParagraph {
    background-color: green;
  }


  #mainHeading {
    background-color: red;
  }